// Обнуление =============================================================================================================
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
body {
   background-color: #333;
   font-family: Arial, Helvetica, sans-serif;
   color: #fff;
}

//=====================================================================

.wrapper {
   margin: 30px;
 }
 
 .billet {
   background-color: rgb(249, 19, 111);
   border-radius: 100vmax;
   width: 80px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 10px 10px 0px;
   cursor: pointer;
   &._hidden{
      display: none;
   }
 }
 
 .btn {
   background-color: rgb(246, 31, 103);
   color: #fff;
   padding: 5px 15px 5px 15px;
   border-radius: 100vmax;
   margin: 0px 0px 15px 0px;
   &._active{
      background-color: purple;
   }
 }
 
 .zone {
   border: 1px solid rgb(250, 21, 113);
   width: 600px;
   height: 100px;
   display: flex;
   overflow: auto;
 }
 
.category{
   margin: 0px 0px 15px 0px;
   display: none;
   &._active{
      display: block;
   }
}